<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Sistema de Gestión Vehicular SISGPN</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>

          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" >Personas</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gestión Administrativa
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/persona">Personal Policial</a></li>
              <li><a class="dropdown-item" routerLink="/vehiculo">Vehiculos</a></li>

              <li>
                <a class="dropdown-item" href="#">Mantenimientos&raquo; </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" routerLink="/mantenimiento">Tipos de Mantenimientos</a>
                  </li>
                  <li>
                    <a class="dropdown-item" routerLink="/item">Items</a>
                  </li>
                  
                </ul>
              </li>
              
              <li>
                <a class="dropdown-item" href="#">Dependencias &raquo; </a>
                <ul class="dropdown-menu dropdown-submenu">
                  <li>
                    <a class="dropdown-item" routerLink="/distrito">Distritos</a>
                  </li>
                  <li>
                    <a class="dropdown-item" routerLink="/listadocircuitos">Circuitos</a>
                  </li>
                  <li>
                    <a class="dropdown-item" routerLink="/listadosubcircuitos">Subircuitos</a>
                  </li>
                </ul>
              </li>

              
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
