.card{
    width: 800px;
   
   
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #f8f9fa;
}

.card-header{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #000;
    padding-bottom: 20px;
}
