<div class="card border-primary mb-3">
    <div class="card-header">LISTADO DE ÍTEMS</div>
    <div class="card-body text-primary">
      

      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/item/formitem']">Crear Item</button>
      </div>

      <div *ngIf="items?.length==0">
        <div class="alert alert-info" role="alert">
          No hay vehículos registrados
        </div>
      </div>
  
      <table class="table table-bordered table-striped" *ngIf="items?.length>0">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Nombre de Mantenimiento</th>
            <th>
              Editar
            </th>
            <th>
              Eliminar
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td>{{ item.codigoItem }}</td>
            <td>{{ item.nombreItem }}</td>
            <td>{{ item.descripcionItem }}</td>
            <td>{{ item.mantenimiento.nombreMantenimiento }}</td>
     

            <td>
              <button type="button" name="editar" [routerLink]="['/item/formitem', item.idItem]" class="btn btn-primary">Editar</button>
            </td>
            <td>
              <button type="button" name="eliminar" (click)='deleteItem(item)' class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <paginator-vehiculo *ngIf="paginador" [paginador] = "paginador"></paginator-vehiculo>
    </div>
  </div>
  
