<div class="card ">
    <div class="card-header">FORMULARIO DE REGISTRO DE MANTENIMIENTOS</div>
    <div class="card-body">
       
        <form #personaForm="ngForm">

            <div class="form-group row">
                <label for="fechaSolicitud" class="col-form-label col sm-3">Fecha de ingreso:</label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" [(ngModel)]="registromantenimiento.fechaIngreso" name="fechaSolicitud" placeholder="Fecha" required  #fechaSolicitud="ngModel">
                    <div class="alert alert-danger" *ngIf="fechaSolicitud.invalid && (fechaSolicitud.touched)">
                        <div *ngIf="placa.errors.required">
                            La fecha es requerida
                        </div>
                     </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="horaSolicitud" class="col-form-label col sm-3">Hora de ingreso:</label>
                <div class="col-sm-8">
                    <input type="time" class="form-control" [(ngModel)]="registromantenimiento.horaIngreso" name="horaSolicitud" placeholder="Hora" required #horaSolicitud="ngModel">
                    <div class="alert alert-danger" *ngIf="horaSolicitud.invalid && (horaSolicitud.touched)">
                        <div *ngIf="chasis.errors">
                            La hora es requerida
                        </div>
                     </div>
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="idSolicitud" class="col-form-label col sm-3">Nro. Solicitud:</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" [(ngModel)]=" solicitud.idSolicitud " name="idSolicitud" placeholder="Nombre" required #idSolicitud="ngModel">
                    
                </div>
            </div>
            <br>


            <div class="form-group row">
                <label for="mantenimiento" class="col-form-label col-sm-3">Mantenimiento</label>
                <div class="col-sm-8">
                    <select class="form-control" [(ngModel)]="registromantenimiento.mantenimiento" name="mantenimiento" required>
                       <option *ngFor="let opcion of mantenimientos" [ngValue]="opcion">{{opcion.nombreMantenimiento}}</option>
                    </select>
                </div>
            </div>


    
            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)='createRegistro()' >Registrar Mantenimiento</button>
                
                </div>
            </div>
    
        </form>

    </div>
    
  
</div>
